APP_NAME=SITU
APP_ENV=local
APP_KEY=base64:AIov47KYJ1n95JhOD7tia34nbFyJYej7ALWCtfgvJsY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=situ
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

#
#MAIL_DRIVER=mailgun
#MAIL_HOST=smtp.mailgun.org
#MAIL_PORT=587
#MAIL_USERNAME=postmaster@sandbox8cb33ccec143443d8d0f90ee15718747.mailgun.org
#MAIL_PASSWORD=7657e16a688fc6924ecbe5071b2da714
#MAIL_ENCRYPTION=null
#
#MAILGUN_DOMAIN=sandbox8cb33ccec143443d8d0f90ee15718747.mailgun.org
#MAILGUN_SECRET=key-67eb8a09d20a844a2f92bbd987384866

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=jorge.j.gonzalez.93@gmail.com
MAIL_PASSWORD=jorgjeink
MAIL_ENCRYPTION=tls

MAIL_FROM_ADDRESS=jorge.j.gonzalez.93@gmail.com
MAIL_FROM_NAME=Jorge

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1
